[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-asciidoc"]
	path = bundle/vim-asciidoc
	url = https://github.com/dahu/vim-asciidoc.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
